body,html{
	/**
	 * [font 字体设置]
	 * 样式,粗细,大小/行高,字体系列
	 */
	font:1.2rem Arial,"微软雅黑","宋体";
}
html,ul,li,img,p,textarea{
	margin:0;
	padding:0;
}
li{
	list-style: none;
}
a{
	text-decoration: none;
}
.clearfix:after{
	clear: both;
}
.clearfix:before,.clearfix:after{
	display: block;
	content: "";
}