<!DOCTYPE html>
<html lang="zh-CN" ng-app="app" ng-controller="app">
<head>
	<meta charset="utf-8">
	<!-- 可以让部分国产浏览器默认采用高速模式渲染页面,即google -->
	<meta name="renderer" content="webkit">
	<!-- 为了让 IE 浏览器运行最新的渲染模式下 -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<!-- 确保移动设备适当的绘制和触屏缩放 -->
	<!-- viewport视口,initial-scale初始缩放比例,maximum-scale最大缩放比例,minimum-scale最小缩放比例,user-scalable=yes/no,是否允许用户缩放 -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- 禁止浏览器转码 -->
	<meta http-equiv="Cache-Control" content="no-siteapp" />
	<!-- 关键字 -->
	<meta name="keywords" content="">
	<!-- 描述 -->
	<meta name="description" content="">
	<!-- 网页作者 -->
	<meta name="author" content="">
	<title>标准html5页面</title>
	<link rel="stylesheet" href="">
	<script src="../plugins/angular-1.6.1/angular.min.js"></script>
</head>
<body>
	<input type="text" name="" value="" placeholder="" ng-model="username">
	<input type="text" name="" value="" placeholder="" ng-model="nickname">
	<!-- 使用ng-bind和直接使用{{}}效果等同 -->
	<p>{{username + ":" + nickname}}</p>
	<p ng-bind="username +':'+ nickname"></p>
	<textarea name="" ng-model="comment"></textarea>
	<p>{{comment}}</p>
	<!-- ng-model只对input等输入标签有效 -->
	<p ng-model="test01" ng-init="test01=123456"></p>
	<p>{{test01}}</p>
	<!-- ng-options 数组和对象数组-->
	<select id="select"  ng-model="newse"   ng-init="newse=array[0]" ng-options=" x.label for x in array">
	</select>
	<p>{{newse.label}}{{newse.value}}</p>
	<!-- ng-options 对象为数据源,而非对象数组 -->
	<select id="select2"  ng-model="newse2"   ng-init="newse2=array2[0].x" ng-options=" x for (x,y) in array2">
	</select>
	<p>{{newse2}}</p>
	<p>普通</p>
	<select id="common" >
		<option value="label5" selected>l5</option>
		<option value="label6">l6</option>
		<option value="label7">l7</option>
	</select>
	<!-- checkbox中的ng-model直接赋值给了checked,而不是value -->
	<input id="inpt" type="checkbox" name="" value="" ng-model="check">点击我
	<p>{{check}}</p>

	<input type="text" name="" value="" placeholder="" ng-init="password=123456" ng-model="password">
	<p>{{password}}</p>
	<fieldset>
		<legend>是啥</legend>
		<label><input type="radio" name="select" value=" " /></label>油量曲线
        <label><input type="radio" name="select" value=" " /></label>里程曲线
        <label><input type="radio" name="select" value=" " /></label>速度曲线
	</fieldset>
	<script>
		// 若是ng-app赋值了,则必须在js中进行初始化,若不想初始化则不必对ng-app赋值,直接用空字符串
		// app的初始化不能写在windo.onload方法里面
		var app = angular.module('app', []);
		// controller必须初始化,否则报错,且不能写在window.onload方法里,也不能写在其他方法里,异步执行
		app.controller('app', function($scope){
			// ng-options中输入的不论是对象数组还是基础数组,在ng-init的时候只需要取数组下标值,即便是对象数组也不需要.属性
			// ng-options选中的值(x)会自动赋值到绑定的ng-model中
			$scope.array1=["l1","l2","l3"];
			$scope.array=[{label:"label1",value:"l1"},{label:"label2",value:"l2"},{label:"label3",value:"l3"}];
			//当在select标签中使用了ng-init时,js中赋值会被覆盖,即标签赋值优先级高,奇怪的现象
			$scope.newse = $scope.array[2];
			//若是赋值不在原数组中,则显示为空
			$scope.newse = {label:"label4",value:"l4"};
			//无法和原生一样取到所有options,无法获取options里的值
			console.log(selects.options);
			//无法和原生一样取得当前选中值
			console.log(selects.value);
			//若是使用对象,而不是对象数组则可正常加载
			$scope.array2={label8:"l8",lable9:"l9",lable10:"l10"};
		});
		//此处执行和controller为异步执行
		var selects = document.getElementById("select");
		console.log(selects.value);
		var common = document.getElementById("common");
		console.log(common.options);
		console.log(common.value);
		var password = 'Jiayu2Gps@wan';
		window.onload=function(){
			//ng-options的选项为对象数组时,无法通过原生获得当前选中值
			var sss = document.getElementById("select");
			console.log(sss.value);
			//ng-options的选项为对象时,获得的值会加上数据类型
			var sss2 = document.getElementById("select2");
			sss2.onchange=function(){
				console.log(sss2.value);
			};
			var intp = document.getElementById("inpt");
			intp.onclick = function(){
				alert(this.value+this.checked);
			};
		};
	</script>
</body>
</html>